


<div style="margin-top:30px" class="container">
  <img src="/assets/chequeorg.jpeg" alt="Snow" style="width:100%;">
    <p class="top-left" style="color:black;margin-left:-6%;margin-top:-5%">JSophie,</p>
   <p class="top-left" style="color:black;margin-left:-6%;margin-top:-3%">Phoenix Arizona</p>

  <p class="bottom-left1" style="color:black;width:20%;font-style:italic-bold;font-family: 'Pacifico', cursive;">{{data.Name}}</p>
      <p class="bottom-left2" style="color:black">Phoenix</p>

  <p class="top-left" style="color:black;margin-top:4%;font-style:italic-bold;font-family: 'Pacifico', cursive;">{{data.words}}</p>
  <p class="top-right" style="color:black;margin-top:4%">{{data.Date}}</p>
  <img class="bottom-right" style="height:7%;width:7%; margin-top:5%" src="/assets/signature.png" />
  <p class="centered" style="color:black;margin-top:2%">$ {{data.Dollar}} </p>

  <p class="bot" style="color:black;font: italic bold;margin-top:8% ">C231414141C   A34235252A            21341C</p>
    <p class="top-right1" style="color:black;font: italic bold ">21341C</p>

</div>
<script>
    window.onload = function() {
        // ...
		window.print()
    }
</script>
