<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" >Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" >Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <form>

            <label for="dateOfBirth">Enter Email</label>
    <input type="email" id="email" class="form-control" required>
    <label for="dateOfBirth">Enter Name</label>
    <input type="text" id="name" class="form-control" required>
    <label for="dateOfBirth">Enter Last Name</label>
    <input type="text" id="lastname" class="form-control" required>
    <label for="dateOfBirth">Enter Last Name</label>
    <input type="password" id="password" class="form-control" required>
    </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
    <hr>
      </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
<hr>

<ngx-loading [show]="loading" [config]="{
        backdropBackgroundColour: 'rgba(255,255,255,0.7)', backdropBorderRadius: '10px',
        primaryColour: '#DB4437', secondaryColour: '#F4B400', tertiaryColour: '#DB4437' }" ></ngx-loading>
