mat-header-cell{
  background-color: #44505d;
 color: #fff;
 font-size: 1em;
 text-align: center;
}
.print{

  background-color: white;
  border-color: #72BA65;
  color:#72BA65;
  transition: 0.3s;
}
.print:hover{
  background-color: #72BA65;
  color:white;
}
.example-container{
  background-color: #778899;
  border-color: #000;
}
.upload{

  background-color: white;
  border-color: #71CDE9;
  color:#71CDE9;
  transition: 0.3s;
}
.upload:hover{
  background-color: #71CDE9;
  color:white;
}
.check{

  background-color: white;
  border-color: #72BA65;
  color:#72BA65;
  transition: 0.3s;
}
.check:hover{
  background-color: #72BA65;
  color:white;
}
.delete{

  background-color: white;
  border-color: #FA7888;
  color:#FA7888;
  transition: 0.3s;
}
.delete:hover{
  background-color: #FA7888;
  color:white;
}
.modal-header{

  background-color: #44505d;
}
.mat-cell,.mat-header-cell {
  padding: 0 8px 0  15px;
}
.close{
color: white;
}
td.mat-column-star {
 width: 20px;
 padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
 padding-left: 8px;
}

.mat-table-sticky:first-child {
 border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
 border-left: 1px solid #e0e0e0;
}
#del{
margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .mat-cell,.mat-header-cell {
    padding: 0 8px 0  15px;
  }
  mat-header-cell{
   background-color: 	#778899	;
   color: #fff;
   font-size: 1em;
   text-align: center;
  }
  mat-cell{
    width:100%;
    font-size: 0.2em;
  }
#pr{
margin-left:-1%;
}
.one{
width:100%;
margin-left:1px;

}
.upload{
margin-left:1%;
}

.search{
  position:relative;
    right:50%;
  }
mat-cell{
 width:100%;
 padding-right: -10%;
 text-align: center;
}
}
@media screen and (min-width: 960px) {
   #pr {
margin-left:10%;
}



}
@media screen and (min-width: 1280px) {

#pr{
  margin-left:5%;
}


}

.row {
 display: -ms-flexbox; /* IE10 */
 display: flex;
 -ms-flex-wrap: wrap; /* IE10 */
 flex-wrap: wrap;
 margin: 0 -16px;
}

.col-25 {
 -ms-flex: 25%; /* IE10 */
 flex: 25%;
}

.col-50 {
 -ms-flex: 50%; /* IE10 */
 flex: 50%;
}

.col-75 {
 -ms-flex: 75%; /* IE10 */
 flex: 75%;
}

.col-25,
.col-50,
.col-75 {
 padding: 0 16px;
}
select{

width:75%;


}


.one{

  margin-right:2%;
  margin-left:2%;
}
.modal-open{
  display: none;

}
#myModal-backdrop {
    /* position: fixed; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff;
}
#print{
top:15%;
}
.modalhead{
 background-color: black;
 color:white;
 padding-top:11%;

}
.modal-title
{
color:white;
}
.modal-dialog,
{
   /* 80% of window height */
   height: 80%;
}

 #mdlSample{
   top:15%;
padding-top:2%;
}


#table1{

  height:400px;

  overflow-y:scroll;
}
.file-upload{
  margin-left:19px;
  margin-top:19px;
margin-right: 19px;

}
.copyright {
  display:block;
  margin-top: 100px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.copyright a{
  text-decoration: none;
  color: #EE4E44;
}
mat-progress-spinner circle, .mat-spinner circle {
  stroke: #3fb53f;
}
.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
