.container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-height: 80vh;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
.mat-dialog-content{
  min-height: 75vh;

  height:750px;
}
.print{

  background-color: white;
  border-color: #72BA65;
  color:#72BA65;
  transition: 0.3s;
}
.print:hover{
  background-color: #72BA65;
  color:white;
}
.delete{

  background-color: white;
  border-color: #FA7888;
  color:#FA7888;
  transition: 0.3s;
}
.delete:hover{
  background-color: #FA7888;
  color:white;
}
