

<div class="container">
  <h3 mat-dialog-title>Edit Vendor :  {{data.Name}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.Name" name="Name" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="StreetAddress" [(ngModel)]="data.StreetAddress" name="StreetAddress" maxlength="50" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="CityorTown" [(ngModel)]="data.CityorTown" name="CityorTown">
        </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="State" [(ngModel)]="data.State" name="State">
        </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Zipcode" [(ngModel)]="data.zipcode" name="zipcode">
        </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Mobile" [(ngModel)]="data.Mobile" name="Mobile">
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Email" [(ngModel)]="data.Email" name="Email">
      </mat-form-field>
    </div>





    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()" style="color:white;background-color:green">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1" style="color:white;background-color:red">Cancel</button>
    </div>
  </form>
</div>
