

<div class="container">
  <h3 mat-dialog-title >Add Vendor</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.Name" name="Name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="StreetAddress" [(ngModel)]="data.StreetAddress" name="StreetAddress" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="CityorTown" [(ngModel)]="data.CityorTown" name="CityorTown" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="State" [(ngModel)]="data.State" name="State" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="zipcode" [(ngModel)]="data.zipcode" name="zipcode" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Mobile" [(ngModel)]="data.Mobile" name="Mobile">
      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Email" [(ngModel)]="data.Email" name="Email">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()" style="color:white;background-color:green">Save</button>


      <button mat-button (click)="onNoClick()" tabindex="-1" style="color:white;background-color:red"> Cancel</button>
    </div>
  </form>
</div>
