th{
 background-color: 	#44505d;
 color: #fff;
 font-size: 1em;
}
.print{

  background-color: white;
  border-color: #72BA65;
  color:#72BA65;
  transition: 0.3s;
}
.print:hover{
  background-color: #72BA65;
  color:white;
}
.delete{

  background-color: white;
  border-color: #FA7888;
  color:#FA7888;
  transition: 0.3s;
}
.delete:hover{
  background-color: #FA7888;
  color:white;
}
mat-header-cell{
 background-color: 	#778899	;
 color: #fff;
 font-size: 1em;
 text-align: center;
}

.export{
align-items:center;height:35px;
}
.container{
padding-right:0px;
padding-left:0px;

}


@media screen and (min-width: 1180px) {
    #both {
margin-left:65%;
    }

}


.mat-snack-bar-container {


  background:#dc3545;
}
