th{
 background-color: 	#386B88	;
 color: #fff;
}


.export{
align-items:center;height:35px;
}
.container{
padding-right:0px;
padding-left:0px;

}

#both{
background-color:green;
}

@media screen and (min-width: 1180px) {
    #both {
      background-color:green;margin-left:70%;
    }

}
