


<!--<button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
  Pizza party
</button>-->



<br>


<div class="one" >

  <br>


  <h1 align="left" class="title" >Vendor  Details</h1>

  <br>






<div Class="row">


  <div class="col-md-10">
</div> </div>


<div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>



	<button type="button" id="both"  name="button" class="btn print pull-right" style="float:right;" (click)="ExportTOExcel()"><i class="fa fa-download" style="font-size:18px"></i>
		Export as Excel      	</button>&nbsp;
    </div >
<div class="example-container mat-elevation-z8" #TABLE>





  <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell" style="width:100%">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->


  <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"> {{row.Name}}</td>
    </ng-container>

    <ng-container matColumnDef="Street">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>StreetAddress</th>
      <td mat-cell *matCellDef="let row"> {{row.StreetAddress}}</td>
    </ng-container>

    <ng-container matColumnDef="City">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CityorTown</th>
      <td mat-cell *matCellDef="let row"> {{row.CityorTown}}</td>
    </ng-container>

    <ng-container matColumnDef="State">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let row"> {{row.State}}</td>
    </ng-container>

    <ng-container matColumnDef="Zipcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zipcode</th>
      <td mat-cell *matCellDef="let row"> {{row.zipcode}}</td>
    </ng-container>



    <ng-container matColumnDef="Mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
      <td mat-cell *matCellDef="let row"> {{row.Mobile}}</td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row"> {{row.Email}}</td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" data-toggle="modal" data-target="#addvendor" >
          <mat-icon aria-label="Example icon-button with a heart icon" style="color:white">add</mat-icon>
        </button>
      </th>





      <td mat-cell *matCellDef="let row; let i=index;" >
        <button mat-icon-button color="accent" data-toggle="modal" data-target="#editvendor">
          <mat-icon aria-label="Edit" style="color:black" (click)="selectedrow(row)">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" data-toggle="modal" data-target="#deletevendor">
          <mat-icon aria-label="Delete" style="color:black" (click)="selectedrow(row)">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--<div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">-->

  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
<mat-progress-spinner
color="accent"
mode="indeterminate">
</mat-progress-spinner>
</mat-card>
  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
          </mat-paginator>


          <div style="margin-bottom:10%;" >   </div>

<div>
</div>

                        <div class="modal " id="addvendor" role="dialog" data-backdrop="false" >
                  <div class="modal-dialog ">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-university" aria-hidden="true"></i>   Add Vendor</h4>
                      <button type="button" class="close" data-dismiss="modal" #closeadd>&times;</button>
            			</div>

                  <form  #add="ngForm" (ngSubmit)="addnew(add.value)">
            <div class="modal-body">
                <div class="form-group">
                  <label for="Name">Name</label>
              <input type="text" placeholder=" Name"  class="form-control" name="Name"  ngModel required>

            <label for="Name">StreetAddress </label>
            <input  type="text" name="pwd" placeholder="Street "  class="form-control" name="StreetAddress"  ngModel required>
            <label for="Name">City or Town </label>
            <input  type="text" name="pwd" placeholder="City "  class="form-control" name="CityorTown"  ngModel required>
            <label for="Name">State </label>
            <input  type="text" name="pwd" placeholder="State "  class="form-control" name="State"  ngModel required>

            <label for="Name">Zipcode</label>
            <input type="text" placeholder="Zipcode"  class="form-control" name="zipcode"  ngModel required>
            <label for="Name">Phone Number</label>
            <input type="address" placeholder=" Phone Number"  class="form-control" name="Mobile"  ngModel required>
            <label for="Name">Email</label>
            <input type="text" placeholder=" Email"  class="form-control" name="Email"  ngModel required>
                    </div>
                </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Save</button>
                    </div>
                </form>

                    </div>
                  </div>
                </div>



                                                        <div class="modal " id="editvendor" role="dialog" data-backdrop="false" >
                                                  <div class="modal-dialog ">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h4 class="modal-title">Edit Vendor</h4>
                                                      <button type="button" class="close" data-dismiss="modal" #closeedit>&times;</button>
                                            			</div>

                                                  <form  #editdata1="ngForm" (ngSubmit)="edit(editdata1.value)">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                  <label for="Name">Name</label>
                                              <input type="text" placeholder="Name"  class="form-control" name="Name"  ngModel={{existdata.Name}} required>

                                            <label for="Name">StreetAddress </label>
                                            <input  type="text" name="pwd" placeholder="Street "  class="form-control" name="StreetAddress"  ngModel={{existdata.StreetAddress}} required>
                                            <label for="Name">City or Town </label>
                                            <input  type="text" name="pwd" placeholder="City "  class="form-control" name="CityorTown"  ngModel={{existdata.CityorTown}} required>
                                            <label for="Name">State </label>
                                            <input  type="text" name="pwd" placeholder="State "  class="form-control" name="State"  ngModel={{existdata.State}} required>

                                            <label for="Name">Zipcode</label>
                                            <input type="text" placeholder="Zipcode"  class="form-control" name="zipcode"  ngModel={{existdata.zipcode}} required>
                                            <label for="Name">Phone Number</label>
                                            <input type="address" placeholder=" Phone Number"  class="form-control" name="Mobile"  ngModel={{existdata.Mobile}} required>
                                            <label for="Name">Email</label>
                                            <input type="text" placeholder=" Email"  class="form-control" name="Email"  ngModel={{existdata.Email}} required>
                                                    </div>
                                                </div>
                                            <div class="modal-footer">
                                            <button type="submit" class="btn btn-outline-dark">Save</button>
                                                    </div>
                                                </form>

                                                    </div>
                                                  </div>
                                                </div>






                                                                                        <div class="modal " id="deletevendor" role="dialog" data-backdrop="false" >
                                                                                  <div class="modal-dialog ">
                                                                                    <div class="modal-content">
                                                                                      <div class="modal-header">
                                                                                        <h4 class="modal-title">   Delete Vendor</h4>
                                                                                      <button type="button" class="close" data-dismiss="modal" #closedel>&times;</button>
                                                                            			</div>

                                                                                  <form  #delete="ngForm" (ngSubmit)="del()">
                                                                            <div class="modal-body">
                                                                        <h4> Are You Sure</h4>

                                                                            Name:{{this.existdata.Name}}
                                                                                </div>
                                                                            <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-outline-dark">Save</button>
                                                                                    </div>
                                                                                </form>

                                                                                    </div>
                                                                                  </div>
                                                                                </div>


                                                                                <ngx-loading [show]="loading" [config]="{
                                                                                        backdropBackgroundColour: 'rgba(255,255,255,0.7)', backdropBorderRadius: '10px',
                                                                                        primaryColour: '#DB4437', secondaryColour: '#F4B400', tertiaryColour: '#DB4437' }" ></ngx-loading>
