











<nav class="mb-4 navbar navbar-expand-lg navbar-dark bg-teal" id="navbar" *ngIf='showNav' >
                <a class="navbar-brand" href="#">Alekta</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

                    <ul class="navbar-nav ml-auto">
                      <li><a (click)="redirect()"><img src="/assets/qb.png" height="40px"></a></li>

                        <li class="nav-item dropdown" [routerLinkActive]="['active']">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card"></i> Check</a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item"
                                 href="http://alektasolutions.com/purchase/print/cheque?date=2018-11-26&name=ravinder&amount=4500&addr=Phoenix,Arizona" routerLink="/cheques"><i class="fa fa-list-alt" aria-hidden="true"></i> Checks </a>
                                <a class="dropdown-item"  data-toggle="modal" data-target="#id02"><i class="fa fa-plus" aria-hidden="true"></i> Create Check</a>
                            </div>
                        </li>
    <li class="nav-item dropdown" [routerLinkActive]="['active']">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa  fa-user"></i> Vendor </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item"
                                 href="http://alektasolutions.com/purchase/print/cheque?date=2018-11-26&name=ravinder&amount=4500&addr=Phoenix,Arizona" routerLink="/vendor"><i class="fa  fa-user"></i> Vendor Checks </a>
                                <a class="dropdown-item"  routerLink="/tableview"><i class="fa fa-id-card" aria-hidden="true"></i> Vendor</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa  fa-cog"></i> Settings </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item" href="http://alektasolutions.com/purchase/print/cheque/ang?words=Three%20Hundred%20and%20Forty%20Three%20%20and%2030/100*****&date=10-08-2018&name=Raghava&amount=**343.3&addr=Arizona,Phoenix," target="_blank"><i class="fa fa-print" aria-hidden="true"></i> Test Print</a>
                                <a class="dropdown-item"  data-toggle="modal" data-target="#id01"><i class="fa  fa-wrench"></i> Config</a>
                                <a class="dropdown-item" (click)="logout()" ><i class="fa  fa-power-off"></i> Logout</a>

                            </div>
                        </li>

                    </ul>
                </div>
            </nav>






            <div class="modal fade" id="id01" role="dialog" >
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-university" aria-hidden="true"></i>   Enter Bank details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
          <form  #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="form" class="form-horizontal">
          <div class="modal-body">
            <div class="row" style="margin-left:50px;">
            <br>
            <br>
                     <div class="col-75" >





                    <!--   <form class="form-horizontal" [formGroup]="form">

                         <div class="form-group" [ngClass]="displayFieldCss('name')">
                           <div class="col-sm-12">
                             <label for="name" class="control-label required">Name</label>
                             <input type="text" id="name" class="form-control" formControlName="name">
                             <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please inform your name">
                             </app-field-error-display>
                           </div>
                         </div>

                         <div class="form-group" [ngClass]="displayFieldCss('email')">
                           <div class="col-sm-12">
                             <label for="email" class="control-label required">Email</label>
                             <input type="text" id="email" class="form-control" formControlName="email">
                             <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please inform your email">
                             </app-field-error-display>
                           </div>
                         </div>

                         <div formGroupName="address">

                           <div class="form-group">

                             <div class="col-md-6" [ngClass]="displayFieldCss('address.street')">
                               <label for="street" class="control-label required">Address</label>
                               <input type="text" id="street" class="form-control" formControlName="street">
                               <app-field-error-display [displayError]="isFieldValid('address.street')" errorMsg="Please inform your address">
                               </app-field-error-display>
                             </div>

                             <div class="col-md-3">
                               <label for="street2" class="control-label">Address 2</label>
                               <input type="text" id="street2" class="form-control" formControlName="street2">
                             </div>

                             <div class="col-md-3" [ngClass]="displayFieldCss('address.zipCode')">
                               <label for="zipCode" class="control-label required">Zip Code</label>
                               <input type="text" id="zipCode" class="form-control" formControlName="zipCode">
                               <app-field-error-display [displayError]="isFieldValid('address.zipCode')" errorMsg="Please inform your zipCode">
                               </app-field-error-display>
                             </div>

                           </div>

                           <div class="form-group">

                             <div class="col-md-4" [ngClass]="displayFieldCss('address.city')">
                               <label for="city" class="control-label required">City</label>
                               <input type="text" id="city" class="form-control" formControlName="city">
                               <app-field-error-display [displayError]="isFieldValid('address.city')" errorMsg="Please inform your city">
                               </app-field-error-display>
                             </div>

                             <div class="col-md-4" [ngClass]="displayFieldCss('address.state')">
                               <label for="state" class="control-label required">State / Province / Region</label>
                               <input type="text" id="state" class="form-control" formControlName="state">
                               <app-field-error-display [displayError]="isFieldValid('address.state')" errorMsg="Please inform your state">
                               </app-field-error-display>
                             </div>

                             <div class="col-md-4" [ngClass]="displayFieldCss('address.country')">
                               <label for="country" class="control-label required">Country</label>
                               <input type="text" id="country" class="form-control" formControlName="country">
                               <app-field-error-display [displayError]="isFieldValid('address.country')" errorMsg="Please inform your country">
                               </app-field-error-display>
                             </div>

                           </div>
                         </div>



                         <div class="pop" align="center">

                         <flash-messages ></flash-messages>
                         </div>


                         <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
                         <button class="btn" (click)="reset()">Reset</button>


                       </form>-->






                       <div class="form-group" [ngClass]="displayFieldCss('bank')">
                         <div class="col-sm-12">
                           <label for="name" class="control-label required"><b>Bank Name</b></label>
                           <input type="text"  placeholder="Enter Bank Name" id="bank" name="bank" class="form-control" formControlName="bank" ngModel={{config.Bankname}} required>
                           <app-field-error-display [displayError]="isFieldValid('bank')" errorMsg="Please enter Bank name">
                           </app-field-error-display>
                         </div>
                       </div>




                                              <div class="form-group" [ngClass]="displayFieldCss('routing')">
                                                <div class="col-sm-12">
                                                  <label for="routing" class="control-label required"><b>Routing</b></label>
                                                  <input type="text"  placeholder="Enter Routing" id="routing" name="routing" class="form-control" formControlName="routing" ngModel={{config.Routenumber}} required>
                                                  <app-field-error-display [displayError]="isFieldValid('routing')" errorMsg="Please enter Routing number">
                                                  </app-field-error-display>
                                                </div>
                                              </div>



                                                                                            <div class="form-group" [ngClass]="displayFieldCss('cheque')">
                                                                                              <div class="col-sm-12">
                                                                                                <label for="cheque" class="control-label required"><b>Cheque Number</b></label>
                                                                                                <input type="text"  placeholder="Enter Cheque Number" id="cheque" name="cheque" class="form-control" formControlName="cheque" ngModel={{config.Chequenumber}} required>
                                                                                                <app-field-error-display [displayError]="isFieldValid('cheque')" errorMsg="Please enter Cheque Number">
                                                                                                </app-field-error-display>
                                                                                              </div>
                                                                                            </div>



                                                                                        <div class="form-group" [ngClass]="displayFieldCss('account')">
                                                                                          <div class="col-sm-12">
                                                                                              <label for="account" class="control-label required"><b>Account Number</b></label>
                                                                                          <input type="text"  placeholder="Enter Account Number" id="account" name="account" class="form-control" formControlName="account" ngModel={{config.Accountnumber}} required>
                                                                                            <app-field-error-display [displayError]="isFieldValid('account')" errorMsg="Please enter Account Number">
                                                                                            </app-field-error-display>
                                                                                          </div>
                                                                                          </div>


                                                                                          <div class="form-group" [ngClass]="displayFieldCss('name')">
                                                                                            <div class="col-sm-12">
                                                                                                <label for="name" class="control-label required"><b>Enter Name</b></label>
                                                                                            <input type="text"  placeholder="Enter Your Name" id="name" name="name" class="form-control" formControlName="name" ngModel={{config.Name}} required>
                                                                                              <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please enter Name">
                                                                                              </app-field-error-display>
                                                                                            </div>
                                                                                            </div>

                                                                                            <div class="form-group" [ngClass]="displayFieldCss('address')">
                                                                                              <div class="col-sm-12">
                                                                                                  <label for="address" class="control-label required"><b>Enter Address</b></label>
                                                                                              <input type="text"  placeholder="Enter Addres" id="address" name="address" class="form-control" formControlName="address" ngModel={{config.Address}} required>
                                                                                                <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please enter Address">
                                                                                                </app-field-error-display>
                                                                                              </div>
                                                                                              </div>

					<!-- <label for="fname"><b>Bank Name</b></label><br>
                         <input type="text" placeholder="Enter Bank Name"  class="form-control" name="bank"  ngModel={{config.Bankname}} required>-->
                          <!--<label for="fname"><b>Routing</b></label><br>
                             <input type="text" placeholder="Enter Routing"  class="form-control" name="routing" ngModel={{config.Routenumber}} required>-->
                    <!--   <label for="email"><b> Cheque Number</b></label>
               <input type="text" placeholder="Enter Cheque Number" name="cheque" class="form-control"  ngModel={{config.Chequenumber}} required >-->

                          <!--<label for="email"><b> Account Number</b> </label>
               <input type="text" placeholder="Enter Account Number" name="account" class="form-control" ngModel={{config.Accountnumber}} required >-->
               <!--<label for="adr"><b> Enter Your Name </b></label>

         <input type="text" placeholder="Enter Your Name" name="name" class="form-control"  ngModel={{config.Name}} required >-->
              <!-- <label for="city"> <b>Enter Your Address</b></label>
      <input type="text" placeholder="Enter Your Address" name="address" class="form-control" maxlength="40" ngModel={{config.Address}} required ngModel >-->
        </div>

        <div class="col-5">  </div>



            <br>
                       </div>
					   </div>




          <flash-messages></flash-messages>


          <div class="modal-footer">
            <button type="submit" class="btn print" (click)="onSubmit(f)" data-dismiss="modal" >Submit</button>



            <button type="button" class="btn delete" data-dismiss="modal">Close</button>
          </div>
          </form>
        </div>
      </div>
    </div>


    <div class="modal fade" id="id02">
             <div class="modal-dialog modal-lg">
               <div class="modal-content">

                 <!-- Modal Header -->
                 <div class="modal-header">
                   <h4 class="modal-title"><i class="fa fa-plus-square" aria-hidden="true"></i>
    Create Single Check</h4>
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>
                 <form  #f1="ngForm" (ngSubmit)="createcheck(f1)">

                 <div class="modal-body">


                              <h1 style="text-align:center;"> Vendor Details </h1>
   <div class="row" style="margin-left:1%;margin-right:1%;">
   <div class="col-50" >
                                 <label for="fname" ><b>Vendor</b></label>
                              <select class="form-control" name="Name" id="Name" (change)="completeAddress()" ngModel>


                                   <option *ngFor="let st of vendor" value={{st.Name}}>{{st.Name}}</option>

                                 </select>
   <br>
                                               <label for="city"> <b>Load Number</b></label>
                                               <input type="text" placeholder="Enter LOADNUMBER" name="Loadnumber"  class="form-control" required ngModel >

    </div> <div class="col-50">

                    <label for="email"><b> Date</b> </label>
         <input type="date" placeholder="Enter Date" name="Date" class="form-control" width="500px;" ngModel required >

                   <div class="row">
                   <div class="col-50">

   <br>
                                     <label for="city"> <b>Carrer Name</b></label>
                                       <input type="text" placeholder="Enter career number" name="Careern"  class="form-control" required ngModel>



        </div> <div class="col-50">
          <br>
                    <label for="city"> <b>Amount</b></label>
                      <input type="text" placeholder="Enter Amount" name="Amount" class="form-control" required ngModel >
   </div> </div>
   </div>
                              </div>
   <div class="col-50" style="margin-left:1%;margin-right:1%;">

              <div class="row">
              <div class="col-25">
                              <label for="city" style="margin-top:1px;"> <b>Country</b></label>
                                <input type="text" placeholder="Enter Country" name="Country"  class="form-control" required ngModel={{Addresscomplete.Country}}>
    </div> <div class="col-50">
              <label for="city"> <b>Street</b></label>

       <input type="text" placeholder="Enter StreetAddress" name="StreetAddress" class="form-control" required ngModel={{Addresscomplete.StreetAddress}} >
   </div></div>
   <div class="row">
   <div class="col-25">
                                 <label for="city"> <b>State</b></label>

                          <input type="text" placeholder="Enter State" name="State" class="form-control" required ngModel={{Addresscomplete.State}} >
   </div >  <div class="col-25">
                          <label for="city"> <b>City</b></label>
                            <input type="text" placeholder="Enter City" name="CityorTown" class="form-control" required ngModel={{Addresscomplete.CityorTown}}  >
   </div> <div class="col-25">
                            <label for="city">  <b> Zip Code</b></label>
                              <input type="text" placeholder="Enter Zipcode" name="zipcode"  class="form-control" required ngModel={{Addresscomplete.zipcode}} >
   </div>
     </div>


                   <br>
                              </div>

                              <flash-messages ></flash-messages>



                 <div class="modal-footer">
                   <button type="submit" class="btn print" data-dismiss="modal" >Submit</button>

                   <button type="button" class="btn delete" data-dismiss="modal">Close</button>
                 </div>
         </div>        </form>
               </div>
             </div>
           </div>



        <div id="mdlSample" class="modal fade"  role="dialog" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
        <div class="modal-dialog ">
        <div class="modal-content">
        	<div class="modal-header">
        						<h4 class="modal-title"><i class="fa fa-bell" aria-hidden="true"></i>   Reminder</h4>

        					</div>
        <div class="modal-body"> 			  <label>Please Set Bank Details to Continue</label><br>
      </div>
        <div class="modal-footer" align="right">
                    <button type="button" id="btnOK" class="btn print" (click)="openModal(false)" data-toggle="modal" data-target="#id01"><i class="fa fa-check fa-fw"></i> Ok</button>
                  </div>
        </div>
        </div>
        </div>

        <ngx-loading [show]="loading" [config]="{
                backdropBackgroundColour: 'rgba(255,255,255,0.7)', backdropBorderRadius: '10px',
                primaryColour: '#DB4437', secondaryColour: '#F4B400', tertiaryColour: '#DB4437' }" ></ngx-loading>



<router-outlet></router-outlet>
