











<nav class="mb-4 navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" *ngIf='showNav' >
                <a class="navbar-brand" href="#">Alekta</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

                    <ul class="navbar-nav ml-auto">
                      <li><a (click)="redirect()"><img src="/assets/qb.png" height="40px"></a></li>

                        <li class="nav-item dropdown" [routerLinkActive]="['active']">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card"></i> Check</a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item"
                                 href="http://alektasolutions.com/purchase/print/cheque?date=2018-11-26&name=ravinder&amount=4500&addr=Phoenix,Arizona" routerLink="/cheques"><i class="fa fa-list-alt" aria-hidden="true"></i> Checks </a>
                                <a class="dropdown-item"  data-toggle="modal" data-target="#id02"><i class="fa fa-plus" aria-hidden="true"></i> Create Check</a>
                            </div>
                        </li>
    <li class="nav-item dropdown" [routerLinkActive]="['active']">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa  fa-user"></i> Vendor </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item"
                                 href="http://alektasolutions.com/purchase/print/cheque?date=2018-11-26&name=ravinder&amount=4500&addr=Phoenix,Arizona" routerLink="/vendor"><i class="fa  fa-user"></i> Vendor Checks </a>
                                <a class="dropdown-item"  routerLink="/tableview"><i class="fa fa-id-card" aria-hidden="true"></i> Vendor</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa  fa-cog"></i> Settings </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item" href="http://alektasolutions.com/purchase/print/cheque/ang?words=Three%20Hundred%20and%20Forty%20Three%20%20and%2030/100*****&date=10-08-2018&name=Raghava&amount=**343.3&addr=Arizona,Phoenix," target="_blank"><i class="fa fa-print" aria-hidden="true"></i> Test Print</a>
                                <a class="dropdown-item"  data-toggle="modal" data-target="#id01"><i class="fa  fa-wrench"></i> Config</a>
                                <a class="dropdown-item" (click)="logout()" ><i class="fa  fa-power-off"></i> Logout</a>

                            </div>
                        </li>

                    </ul>
                </div>
            </nav>






            <div class="modal fade" id="id01" role="dialog" >
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-university" aria-hidden="true"></i>   Enter Config details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
          <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="modal-body">
            <div class="row" style="margin-left:50px;">
            <br>
            <br>
                     <div class="col-75" >

					 <label for="fname"><b>Bank Name</b></label><br>
                         <input type="text" placeholder="Enter Bank Name"  class="form-control" name="bank"  ngModel={{config.Bankname}} required>
                          <label for="fname"><b>Routing</b></label><br>
                             <input type="text" placeholder="Enter Routing"  class="form-control" name="routing" ngModel={{config.Routenumber}} required>
                       <label for="email"><b> Cheque Number</b></label>
               <input type="text" placeholder="Enter Cheque Number" name="cheque" class="form-control"  ngModel={{config.Chequenumber}} required >

                          <label for="email"><b> Account Number</b> </label>
               <input type="text" placeholder="Enter Account Number" name="account" class="form-control" ngModel={{config.Accountnumber}} required >
               <label for="adr"><b> Enter Your Name </b></label>

         <input type="text" placeholder="Enter Your Name" name="name" class="form-control"  ngModel={{config.Name}} required >
               <label for="city"> <b>Enter Your Address</b></label>
      <input type="text" placeholder="Enter Your Address" name="address" class="form-control" maxlength="40" ngModel={{config.Address}} required ngModel >
        </div>

        <div class="col-5">  </div>



            <br>
                       </div>
					   </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Submit</button>

            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
          </form>
        </div>
      </div>
    </div>



 <div class="modal fade" id="id02">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-plus-square" aria-hidden="true"></i>
 Create Single Check</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <form  #f1="ngForm" (ngSubmit)="createcheck(f1)">

              <div class="modal-body">
                <div class="row" style="margin-left:50px;">
                <br>
                <br>
                         <div class="col-75" >
                              <label for="fname"><b>Vendor</b></label><br>
                           <select class="form-control" name="Name" ngModel>


                                <option *ngFor="let st of vendor" value={{st.Name}}>{{st.Name}}</option>

                              </select>





                              <label for="email"><b> Date</b> </label>
                   <input type="date" placeholder="Enter Date" name="Date" class="form-control" ngModel required >

                   <label for="city"> <b>Description</b></label>

            <input type="text" placeholder="Enter Description" name="Description" class="form-control" required ngModel >

            <label for="city"> <b>Amount</b></label>
              <input type="text" placeholder="Enter Amount" name="Amount" class="form-control" required ngModel >

              <label for="city"> <b>Load Number</b></label>
                <input type="text" placeholder="Enter LOADNUMBER" name="Loadnumber"  class="form-control" required ngModel >

                <label for="city"> <b>Career Number</b></label>
                  <input type="text" placeholder="Enter career number" name="Careern"  class="form-control" required ngModel>


                           </div>
<div class="col-5">  </div>


                <br>
                           </div>          </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" >Submit</button>

                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
              </div>
              </form>
            </div>
          </div>
        </div>



        <div id="mdlSample" class="modal fade"  role="dialog" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
        <div class="modal-dialog ">
        <div class="modal-content">
        	<div class="modal-header">
        						<h4 class="modal-title"><i class="fa fa-bell" aria-hidden="true"></i>   Reminder</h4>

        					</div>
        <div class="modal-body"> 			  <label>Please Set Bank Details to Continue</label><br>
      </div>
        <div class="modal-footer" align="right">
                    <button type="button" id="btnOK" class="btn btn-success" (click)="openModal(false)" data-toggle="modal" data-target="#id01"><i class="fa fa-check fa-fw"></i> Ok</button>
                  </div>
        </div>
        </div>
        </div>



<router-outlet></router-outlet>
