.container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-height: 80vh;
  color:white;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
.mat-dialog-content{
  min-height: 100vh;

  height:750px;
}
