

<div class="container">
  <h3 mat-dialog-title>Edit User :  {{data.Name}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Email" [(ngModel)]="data.Email" name="Email" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->



        <div class="form">
          <mat-form-field color="accent">
            <textarea matInput #input class="form-control" placeholder="First Name" [(ngModel)]="data.Firstname" name="Firstname" required ></textarea>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="Last Name" [(ngModel)]="data.Lastname" name="Lastname" required ></textarea>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Phone number" [(ngModel)]="data.Phonenumber" name="Phonenumber" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>







    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()" style="color:white;background-color:green">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1" style="color:white;background-color:red">Cancel</button>
    </div>
  </form>
</div>
