<div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a routerLink="/login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>






                                                <form class="form-horizontal" [formGroup]="form">

                                                  <div class="form-group" [ngClass]="displayFieldCss('email')">
                                                    <div class="field-wrap">
                                                      <label for="email" class="control-label required"><b></b></label>
                                                      <input type="text" placeholder="Email"  id="email" class="form-control"  formControlName="email" ngModel required>
                                                      <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please enter Email">
                                                      </app-field-error-display>
                                                    </div>
                                                  </div>





                                                                                                    <div class="form-group" [ngClass]="displayFieldCss('password')">
                                                                                                      <div class="field-wrap">
                                                                                                        <label for="password" class="control-label required"><b></b></label>
                                                                                                        <input type="text" placeholder="Password"  id="password" class="form-control"  formControlName="password" ngModel required>
                                                                                                        <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Please enter Password">
                                                                                                        </app-field-error-display>
                                                                                                      </div>
                                                                                                    </div>


      <button type="submit" class="button button-block" (click)="onSubmit()" data-toggle="modal" data-target="#myModal">Get Startedh</button>


</form>



        </div>
        <div class="modal" id="myModal">
           <div class="modal-dialog">
             <div class="modal-content">
               <form class="form-horizontal"  #varied = "ngForm" (ngSubmit) = "verify(varied.value)">

               <!-- Modal Header -->
               <div class="modal-header">
                 <h4 class="modal-title">Authentication..!</h4>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>

               <!-- Modal body -->
               <div class="modal-body">
       <p>Please enter your 6-digit authentication code </p>
       <input type="password" name="verify" id="verifys" placeholder="000000" color="black" ngModel></div>

               <!-- Modal footer -->
               <div class="modal-footer">
               <button type="submit" class="btn btn-success">Submit</button>

                 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
             </form>

             </div>
           </div>
         </div>

      </div><!-- tab-content -->

</div> <!-- /form -->




<script>
  $('.form').find('input, textarea').on('keyup blur focus', function (e) {
    var $this = $(this),
        label = $this.prev('label');
  	  if (e.type === 'keyup') {
  			if ($this.val() === '') {
            label.removeClass('active highlight');
          } else {
            label.addClass('active highlight');
          }
      } else if (e.type === 'blur') {
      	if( $this.val() === '' ) {
      		label.removeClass('active highlight');
  			} else {
  		    label.removeClass('highlight');
  			}
      } else if (e.type === 'focus') {
        if( $this.val() === '' ) {
      		label.removeClass('highlight');
  			}
        else if( $this.val() !== '' ) {
  		    label.addClass('highlight');
  			}
      }
  });
  $('.tab a').on('click', function (e) {
    e.preventDefault();
    $(this).parent().addClass('active');
    $(this).parent().siblings().removeClass('active');
    target = $(this).attr('href');
    $('.tab-content > div').not(target).hide();
    $(target).fadeIn(600);
  });
</script>
