/* Structure */
th{
 background-color: 	#778899	;
 color: #fff;
}
.print{

  background-color: white;
  border-color: green;
  color:GREEN;
  transition: 0.3s;
}
.print:hover{
  background-color: green;
  color:white;
}
mat-header-cell{
 background-color: 	#778899	;
 color: #fff;
 font-size: 1em;
 text-align: center;
}

.export{
align-items:center;height:35px;
}
.container{
padding-right:0px;
padding-left:0px;

}


@media screen and (min-width: 1180px) {
    #both {
margin-left:65%;
    }

}
