
<div class="head">
  <h1 align="left" class="title" > &nbsp;
 Dashboard
 <ngx-mat-drp class="pull-right"(selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker></ngx-mat-drp>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h1>
</div>
<br>
<div style="margin-top:2%;margin-right:5%;margin-left:2%; ">
  <div class="row">
    <div class="col-xs-12 col-md-9">
<div class="row">

					<div class="col-lg-6 col-xs-4">
						<div class="rad-info-box rad-txt-success">
							<i class="fa fa-users"></i>
							<span class="heading">No of Vendors </span>
              <mat-progress-spinner style="display: flex; justify-content: center; align-items: center" class="offset-10" diameter=60
              color="warn"
                mode="indeterminate" *ngIf="isLoading">
              </mat-progress-spinner>
							<span class="value"><span>{{data.Vendor_Count}}     </span></span>
						</div>
					</div>
					<div class="col-lg-6 col-xs-4">
						<div class="rad-info-box rad-txt-success">
							<i class="fa fa-money"></i>
							<span class="heading">AMOUNT Paid </span>
              <mat-progress-spinner style="display: flex; justify-content: center; align-items: center" class="offset-10" diameter=60
              color="warn"
                mode="indeterminate" *ngIf="isLoading">
              </mat-progress-spinner>
							<span class="value"><span>{{data.Paid_amount}}</span></span>
						</div>
					</div><br>
          <br>
					<div class="col-lg-6 col-xs-4">
						<div class="rad-info-box rad-txt-success">
							<i class="fa fa-usd"></i>
							<span class="heading">Pending AMOUNT</span>
              <mat-progress-spinner style="display: flex; justify-content: center; align-items: center" class="offset-10" diameter=60
              color="warn"
                mode="indeterminate" *ngIf="isLoading">
              </mat-progress-spinner>
							<span class="value"><span>{{data.Pending_amount}}</span></span>
						</div>
					</div>
					<div class="col-lg-6 col-xs-4 rad-txt-success">
						<div class="rad-info-box rad-txt-success" >
							<i class="fa fa-user"></i>
							<span class="heading">No of Users </span>

							<span class="value"><span>{{data.Users}}</span></span>
              <mat-progress-spinner style="display: flex; justify-content: center; align-items: center"  class="offset-10" diameter=60
              color="warn"
                mode="indeterminate" *ngIf="isLoading">
              </mat-progress-spinner>
						</div>
					</div>
				</div>
        </div>
        <div class="col-xs-12 col-md-3"  >
          <div class="panel panel-default" style="width:100%;"  style="background-color:white;">
            <div class="panel-heading">
              <h3 class="panel-title">No of Cheques Printed
                              </h3>

            </div>
            <mat-progress-spinner style="display: flex; justify-content: center; align-items: center"    class="offset-2"   diameter=150      color="warn"
              mode="indeterminate" *ngIf="isLoading">
            </mat-progress-spinner>
            <!--<aside class="chart vert">
              <canvas id="canPie" width="300" height="200" data-values='40, 30, 20, 60, 10, 50'>
                This browser does not support HTML5 Canvas.
              </canvas>checkpercentage
              <ol class="legend">
                <li class="key one">One</li>
                <li class="key two">Two</li>
                <li class="key three">Three</li>
                <li class="key four">Four</li>
                <li class="key five">Five</li>
                <li class="key six">Six</li>
              </ol>
            </aside>-->
            <div class="panel-body"   style="background-color:white; ">

<div *ngIf="!isLoading" class="" style="background-color:white; margin-left:1%; ">
  <div class="donut-chart chart2">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span>{{data.checkpercentage}}%</span>
    </div>
  </div>

  </div></div> <br>

            </div>
            </div>
        </div>
        <div class="row" >
        <div class="col-xs-12 col-md-12">
          <div class="panel panel-default1">
            <div class="panel-heading">
              <div  style="margin-top:4%;margin-right:5%;margin-left:5%; ">
                <h1 align="center" >  Expenditure </h1>

                <div class='grid'>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <i class='x'></i>
                  <div class='graph'></div>
                  <div class='label'>
                    Data of sorts
                  </div>
                </div>

            <!--  <div class="chart" >
                  <!--  <div id="chartContainer" style="height: 370px; width: 100%"></div> -->
                <!--  <div class="wrapper">
                    <canvas id="c" style="margin-right:10%;"></canvas>
                    <div class="label">text</div>
                    <p>Please mouse over the dots</p>

                  </div>
              </div>-->
            </div>
            </div>
            <div class="panel-body" style="background-color:white; " >
            </div>
          </div>
        </div>



</div>
<script>

</script>
