<h1 align="left" class="title" > &nbsp;
 Dashboard</h1>
<div style="margin-top:4%;margin-right:5%;margin-left:2%; ">
<div class="row">
					<div class="col-lg-3 col-xs-6">
						<div class="rad-info-box rad-txt-success">
							<i class="fa fa-users"></i>
							<span class="heading">No of Vendors </span>
							<span class="value"><span>4949</span></span>
						</div>
					</div>
					<div class="col-lg-3 col-xs-6">
						<div class="rad-info-box rad-txt-primary">
							<i class="fa fa-money"></i>
							<span class="heading">AMOUNT Paid </span>
							<span class="value"><span>23K</span></span>
						</div>
					</div>
					<div class="col-lg-3 col-xs-6">
						<div class="rad-info-box rad-txt-danger">
							<i class="fa fa-usd"></i>
							<span class="heading">Pending AMOUNT</span>
							<span class="value"><span>49M</span></span>
						</div>
					</div>
					<div class="col-lg-3 col-xs-6">
						<div class="rad-info-box">
							<i class="fa fa-user"></i>
							<span class="heading">No of Users </span>
							<span class="value"><span>10.9K</span></span>
						</div>
					</div>
				</div>
        <div class="chart"style="margin-top:4%;margin-right:5%;margin-left:5%; ">
        <div >
<h1 align="center" >  No of Cheques Printing </h1>
              <div id="chartContainer" style="height: 370px; width: 100%"></div>

        </div>
      </div>
</div>
