







<div style="margin-top:30px;width:100%;height:480px;background:transparent" class="container1  " *ngFor="let exdata1 of data ; let i=index;">



   <p class="top-left2" style="color:black;margin-left:41%">{{config.bank}}</p> <br>
 <p class="top-left" style="color:black;margin-left:-6%;margin-top:-2%">{{config.Name}}</p> <br>

   <p class="top-left" style="	width:20%;margin-top:1%" >{{config.addresss}}</p>

  <p class="bottom-left1" style="color:black;font-style:italic-bold;margin-top:-3%	;width:65%">{{exdata1.name}}</p><br>

 <p class="bottom-left2" style="color:black;margin-right:-15%;margin-bottom:5%;margin-top:1%">{{exdata1.addr}}</p>

  <p class="bottom-left3" style="color:black;margin-right:-15%;margin-bottom:-2%">MEMO : LOAD # {{exdata1.load}} for {{exdata1.carrer}}</p>

 <p class="top-left1" style="color:black;margin-top:3%;font-style:italic-bold;">{{exdata1.words}}</p>
   <p class="top-right" style="color:black;margin-right:1%;margin-top:6%">{{exdata1.date}}</p>
  <img class="bottom-right"  style="margin-right:-4%;height:18%;width:18%;margin-bottom:2%" src="/assets/signature.png" alt="no signadfkjbadkjfbadkjvbjakd"/>
  <p class="centered" style="color:black;margin-top:1%">$ {{exdata1.amount}}</p>

  <p class="top-right1" style="color:black;font: italic bold ;top:5%;margin-right:5%;">{{config.cheque+i}}</p>

  <p class="bot" style="color:black;margin-left:10%;font: italic bold;margin-top:5% ">C{{config.cheque+i}}C  A{{config.Route}}A  {{config.Account}}C</p>





</div>



	
