


<h1 align="left" class="title" > &nbsp;
 Settings</h1>
<!-- Nav tabs -->
<div class="col-md-12">
<div class="container  " width="50%" >
<ul class="nav nav-tabs md-tabs nav-justified primary-color" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab">
    <i class="fas fa-key pr-2"></i>Reset Password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#panel666" role="tab">
    <i class="fas fa-university pr-2"></i>Bank Details</a>
  </li>
</ul>
<!-- Nav tabs -->

<!-- Tab panels -->
<div class="tab-content" style="background-image: radial-gradient(circle,#E9F5F3,#f0f9f4);">

  <!-- Panel 1 -->
  <div class="tab-pane fade in show active" id="panel555" role="tabpanel">

    <!-- Nav tabs -->
    <div class="row">
      <div class="col-md-8 offset-1" style="margin-top:1%;magin-left:5%;">

        <form  #reset="ngForm" (ngSubmit)="onreset(reset)" >
                                                              <div class="" style="margin-top:5%;margin-left:10%;">
                                                  <div class="row">

                                                  <div class="col-6">
                                                                <label for="psw" style="font-size:20px;padding-top:20px;"><b>Password</b></label>
                                                  </div>
                                                  <div class="col-6">
                                                          <label width="100%">      <input type="password" placeholder="Enter Current Password" name="psw" required ngModel>
                                                  </label>
                                                  <br>   </div>
                                                  </div>
                                                  <div class="row">

                                                  <div class="col-6">
                                                         <label for="psw-repeat" style="font-size:20px;padding-top:20px;"><b>New Password</b></label>
                                                       </div>
                                                       <div class="col-6">
                                                              <label>  <input type="password"  placeholder="Repeat Password" name="newpswd" required ngModel>
                                                  </label>
                                                              </div>

                                                             </div>
                                                             <div class="row">

                                                             <div class="col-6">
                                                                <label for="psw"style="font-size:20px;padding-top:20px;"><b>Repeat Password</b></label>
                                                              </div>
                                                              <div class="col-6">
                                                                <label>
                                                                <input type="password" id="password-field" type="password" placeholder="Enter New  Password" name="pswrepeat" required ngModel>

                                                  </label>
                                                  </div>
                                                  </div>
<div class="modal-footer">
                                                                <button  style="width:40%;" type="submit" class="registerbtn print">Reset Password</button>

                            <br>    <br>     </div>                                    </div>


                                                            </form>

    </div>
    </div>
    <!-- Nav tabs -->

  </div>
  <!-- Panel 1 -->

  <!-- Panel 2 -->
  <div class="tab-pane fade" id="panel666" role="tabpanel" style="margin-left:5%;">

    <form  #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="form" class="form-horizontal">
    <div class="modal-body ">
      <div class="row" >
      <br>
      <br>
               <div class="col-6" >










                 <div class="form-group" [ngClass]="displayFieldCss('bank')">
                   <div class="col-sm-12">
                     <label for="name" class="control-label required"><b>Bank Name</b></label>
                     <input type="text"  placeholder="Enter Bank Name" id="bank" name="bank" class="form-control" formControlName="bank" ngModel={{config.Bankname}} required>
                     <app-field-error-display [displayError]="isFieldValid('bank')" errorMsg="Please enter Bank name">
                     </app-field-error-display>
                   </div>
                 </div>




                                        <div class="form-group" [ngClass]="displayFieldCss('routing')">
                                          <div class="col-sm-12">
                                            <label for="routing" class="control-label required"><b>Routing</b></label>
                                            <input type="text"  placeholder="Enter Routing" id="routing" name="routing" class="form-control" formControlName="routing" ngModel={{config.Routenumber}} required>
                                            <app-field-error-display [displayError]="isFieldValid('routing')" errorMsg="Please enter Routing number">
                                            </app-field-error-display>
                                          </div>
                                        </div>



                                                                                      <div class="form-group" [ngClass]="displayFieldCss('cheque')">
                                                                                        <div class="col-sm-12">
                                                                                          <label for="cheque" class="control-label required"><b>Cheque Number</b></label>
                                                                                          <input type="text"  placeholder="Enter Cheque Number" id="cheque" name="cheque" class="form-control" formControlName="cheque" ngModel={{config.Chequenumber}} required>
                                                                                          <app-field-error-display [displayError]="isFieldValid('cheque')" errorMsg="Please enter Cheque Number">
                                                                                          </app-field-error-display>
                                                                                        </div>
                                                                                      </div>
                                                                                      <div class="form-group" [ngClass]="displayFieldCss('address')">
                                                                                        <div class="col-sm-12">
                                                                                            <label for="address" class="control-label required"><b> State</b></label>
                                                                                        <input type="text"  placeholder="Enter Addres" id="address" name="address" class="form-control" formControlName="address" ngModel={{config.Address}} required>
                                                                                          <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please enter Address">
                                                                                          </app-field-error-display>
                                                                                        </div>
                                                                                        </div>
                                                                                      <div class="form-group" [ngClass]="displayFieldCss('routing')">
                                                                                        <div class="col-sm-12">
                                                                                          <label style="margin-top:2%" >  <b>Upload  Signature </b> </label>
                                                                                          <input type="file"  name="chooseFile" id="filePicker" align="right"  (change)="handleFileSelect($event)" id="file" name="file" formControlName="file" accept="image/png" ngModel>

                                                                                        </div>
                                                                                      </div>



</div>
<div class="col-6">
                                                                                  <div class="form-group" [ngClass]="displayFieldCss('account')">
                                                                                    <div class="col-sm-12">
                                                                                        <label for="account" class="control-label required"><b>Account Number</b></label>
                                                                                    <input type="text"  placeholder="Enter Account Number" id="account" name="account" class="form-control" formControlName="account" ngModel={{config.Accountnumber}} required>
                                                                                      <app-field-error-display [displayError]="isFieldValid('account')" errorMsg="Please enter Account Number">
                                                                                      </app-field-error-display>
                                                                                    </div>
                                                                                    </div>


                                                                                    <div class="form-group" [ngClass]="displayFieldCss('name')">
                                                                                      <div class="col-sm-12">
                                                                                          <label for="name" class="control-label required"><b>Enter Name</b></label>
                                                                                      <input type="text"  placeholder="Enter Your Name" id="name" name="name" class="form-control" formControlName="name" ngModel={{config.Name}} required>
                                                                                        <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please enter Name">
                                                                                        </app-field-error-display>
                                                                                      </div>
                                                                                      </div>

                                                                                      <div class="form-group" [ngClass]="displayFieldCss('address')">
                                                                                        <div class="col-sm-12">
                                                                                            <label for="address" class="control-label required"><b> Address</b></label>
                                                                                        <input type="text"  placeholder="Enter Addres" id="address" name="address" class="form-control" formControlName="address" ngModel={{config.Address}} required>
                                                                                          <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please enter Address">
                                                                                          </app-field-error-display>
                                                                                        </div>
                                                                                        </div>
                                                                                         <div class="form-group" [ngClass]="displayFieldCss('address')">
                                                                                              <div class="col-sm-12">
                                                                                                  <label for="address" class="control-label required"><b>Zip Code</b></label>
                                                                                              <input type="text"  placeholder="Enter Addres" id="address" name="address" class="form-control" formControlName="address" ngModel={{config.Address}} required>
                                                                                                <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please enter Address">
                                                                                                </app-field-error-display>
                                                                                              </div>
                                                                                              </div>

                                                                                        <div class="form-group" [ngClass]="displayFieldCss('bank')">
                                                                                          <div class="col-sm-12">
                                                                                            <label for="name" class="control-label required"><b>Present Signature</b></label><br>
                                                                                            <img src="data:image/png;base64,{{base64textString}}" height="50px" width="150px"/>

                                                                                          </div>
                                                                                        </div>


  </div>                                   </div>
<!--<div class="row">
<div clas="col-40" style="text-align:right;margin-left:3%;">
  <label style="margin-top:2%" >  <b>Upload  Signature </b> </label>

  <input type="file"  name="chooseFile" id="filePicker" align="right"  (change)="handleFileSelect($event)" id="file" name="file" formControlName="file" accept="image/png" ngModel>


</div>
</div> -->
<br>
  <div class="modal-footer">
    <button  class="registerbtn print" width="50%"  >Submit</button>



  </div>

      <br>
       </div>







    </form>
  </div>
  <!-- Panel 2 -->

</div>
<!-- Tab panels -->
</div>
</div>
<ngx-loading [show]="loading" [config]="{
        backdropBackgroundColour: 'rgba(255,255,255,0.7)', backdropBorderRadius: '10px',
        primaryColour: '#DB4437', secondaryColour: '#F4B400', tertiaryColour: '#DB4437' }" >
</ngx-loading>
